{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 90,
    "quoteProps": "as-needed",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "useTabs": false
}
